@model TestSystem.Models.Test

@{
    ViewData["Title"] = "Тест по разделу";
}

<h2>@Model.Name</h2>

<form method="post">
    @Html.HiddenFor(name => Model.Name)
    @Html.HiddenFor(category => Model.Category)

    @for (int n = 0; n < Model.CloseQuestions.Count(); n++)
    {
        <br />
        <p>
            <b>
                @(n + 1). <span style="white-space: pre-line">@Model.CloseQuestions[n].Task</span>
            </b>

        </p>

        for (int i = 0; i < Model.CloseQuestions[n].Answers.Count; i++)
        {
            @Html.HiddenFor(q => Model.CloseQuestions[i].Id)
            @Html.HiddenFor(q => Model.CloseQuestions[i].Category)
            @Html.HiddenFor(q => Model.CloseQuestions[i].IsOpen)
            <p>
                <pre>  @Html.CheckBoxFor(a => Model.CloseQuestions[n].Answers[i].IsChecked)<label>  @Model.CloseQuestions[n].Answers[i].TextAnswer</label></pre>
                @Html.HiddenFor(a => Model.CloseQuestions[n].Answers[i].Id)
                @Html.HiddenFor(a => Model.CloseQuestions[n].Answers[i].QuestionId)
                @Html.HiddenFor(a => Model.CloseQuestions[n].Answers[i].TextAnswer)
                @Html.HiddenFor(a => Model.CloseQuestions[n].Answers[i].IsRight)
            </p>
        }
    }

    <p>
        <input type="submit" value="Результат" />
    </p>
</form>
