@model IEnumerable<TestSystem.Models.Test>

@{
    ViewData["Title"] = "Список тестов";
}

<h2>Список тестов</h2>
<h3>Общие тесты (тест содержит вопросы из разных разделов)</h3>

@foreach (var item in Model)
{
    <p><pre><font size="4">    @Html.ActionLink(item.Name, "GeneralTest", new { index = item.Id })</font></pre></p>
}

<br />
<h3>Тесты по разделам</h3>
<p><pre><font size="4">    @Html.ActionLink("Орфография", "Category", new { category = "Орфография" })</font></pre></p>
<p><pre><font size="4">    @Html.ActionLink("Пунктуация", "Category", new { category = "Пунктуация" })</font></pre></p>
<p><pre><font size="4">    @Html.ActionLink("Синтаксис", "Category", new { category = "Синтаксис" })</font></pre></p>
<p><pre><font size="4">    @Html.ActionLink("Морфология", "Category", new { category = "Морфология" })</font></pre></p>

